@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  color: black; 
  text-shadow: none;
  margin: 0;
  padding: 0;
}

button img {
  box-shadow: 0 0 10px 2px #000000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}