@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Comic Sans MS', sans-serif;
  background-color: black;
  color: white;
  text-shadow: 2px 2px 4px #ff00ff;
}
button img {
  box-shadow: 0 0 20px 4px #00ff00;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px 8px #ff00ff;
}